<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img style="border:1px solid black;border-radius:20px 20px;" src="assets/logo.jpg" alt="logo" width="40" height="40">
  <span>Welcome to tool time for flex week</span>
</div>

<div class="content" role="main">

  <!-- Resources -->
  <h2>Flex Week</h2>
  <p>This tool will help you on flex week</p>

  <div class="card-container">
    <a class="card" rel="noopener" href="">
      <img src="assets/monday.png" alt="monday">
      <span>Monday</span>
    </a>

    <a class="card" rel="noopener" href="">
      <img src="assets/tuesday.png" alt="tuesday">
      <span>Tuesday</span>
    </a>

    <a class="card" rel="noopener" href="">
      <img src="assets/wednesday.png" alt="wednesday">
      <span>Wednesday</span>
    </a>

    <a class="card" rel="noopener" href="">
      <img src="assets/thursday.png" alt="thursday">
      <span>Thursday</span>
    </a>

    <a class="card" rel="noopener" href="">
      <img src="assets/friday.png" alt="friday">
      <span>Friday</span>
    </a>

  </div>

  <!-- Next Steps -->
  <h2>Total</h2>

<table style="width:100%;text-align: center;">
  <tr>
    <th>TIME</th>
    <th>Start</th>
    <th>End</th>
    <th>MAX</th>
    <th>SUM</th>
    <th>REMAIN</th>
    <th>EXCEED</th>
  </tr>
  <tr>
    <td>Monday</td>
    <td>
      <form>
        <input id="mon-time" type="time" name="start" />
      </form>
    </td>
    <td>
      <form>
        <input id="mon-time" type="time" name="end" />
      </form>
    </td>
    <td>44</td>
    <td>40</td>
    <td>4</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Tuesday</td>
    <td>
      <form>
        <input id="tue-time" type="time" name="start" />
      </form>
    </td>
    <td>
      <form>
        <input id="tue-time" type="time" name="end" />
      </form>
    </td>
    <td>44</td>
    <td>40</td>
    <td>4</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td>
      <form>
        <input id="wed-time" type="time" name="start" />
      </form>
    </td>
    <td>
      <form>
        <input id="wed-time" type="time" name="end" />
      </form>
    </td>
    <td>44</td>
    <td>40</td>
    <td>4</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Thursday</td>
    <td>
      <form>
        <input id="thu-time" type="time" name="start" />
      </form>
    </td>
    <td>
      <form>
        <input id="thu-time" type="time" name="end" />
      </form>
    </td>
    <td>44</td>
    <td>40</td>
    <td>4</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Friday</td>
    <td>
      <form>
        <input id="fri-time" type="time" name="start" />
      </form>
    </td>
    <td>
      <form>
        <input id="fri-time" type="time" name="end" />
      </form>
    </td>
    <td>44</td>
    <td>40</td>
    <td>4</td>
    <td>0</td>
  </tr>
  <tr>
    <td><b>A Week</b></td>
    <td><b></b></td>
    <td><b></b></td>
    <td><b>44</b></td>
    <td><b>40</b></td>
    <td><b>4</b></td>
    <td><b>0</b></td>
  </tr> 
</table>